.navbar-custom {
    background-color: $primary-color; /* Establece el color de fondo deseado para el nav */

    .navbar-toggler img {
      width: 50px;
      height: 50px;
      background-color: transparent;
    }

    /* Estilos personalizados para el menú hamburguesa */
    @media (max-width: 550px) {
      .navbar-collapse {
        background-color: $primary-color;
      }
    }
    /* Estilos personalizados para el menú hamburguesa */
  }
  nav {
    background-color: $primary-color;
    padding: 20px;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    #navbarNav {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
    
        li {
          display: inline;
          margin-right: 10px;
    
          a {
            position: relative;
            text-decoration: none;
            color: $text-color;
            padding: 10px;
            transition: padding 0.5s ease;
    
            &:hover {
              background-color: $fondo-nav;
              padding-left: 15px;
              padding-right: 15px;
              
            }
    
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.3);
              transition: width 0.3s ease;
            }
    
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
    
  
    .nav-center {
      color: $text-color;
      flex: 1;
      text-align: center;
      margin: 0 10px;
    }
  
    .nav-right {
      margin-right: 10px;
  
      img {
        height: auto;
        width: 100%;
        max-width: 150px;
      }
    }
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: $mobile-breakpoint) {
    nav {
      flex-direction: column;
      align-items: center; /* Alinea los elementos en el centro verticalmente */
      padding: 10px;
    }
  
    nav ul {
      margin-top: 10px;
      text-align: center; /* Centra los elementos del menú */
    }
  
    .nav-center {
      margin-top: 10px;
      margin-bottom: 10px; /* Añade un margen inferior para separar del menú */
      text-align: center; /* Centra el texto en el centro */
    }
  }
  /* Estilos para dispositivos móviles */