@import "extends";

.tarjeta-album {
    background-color: $secondary-color;
    width: 300px;
    border: solid 3px;
    border-radius: $border-radius;
    padding: 25px;
    display: inline-block; /* Cambio a inline-block para que las tarjetas se coloquen en línea */
    margin-right: 40px; /* Espacio entre las tarjetas */
    margin-bottom: 20px;
    text-align: center;
  
    img {
      width: 100%;
    }
    
    button {
      @extend %buttontarjetas;
    }
  }
  
  .contenedor-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Estilos para dispositivos móviles */
@media only screen and (max-width: $mobile-breakpoint) {
    .contenedor-tarjetas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .tarjeta-album {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
  /* Estilos para dispositivos móviles */